.parent {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: row;
}

.container-child {
    padding: 20px;
}

#nav {
    padding: 0 20px 0 0;
    margin: 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: rgb(226, 226, 226);
}

.active {
    background-color: rgb(198, 232, 255);
}
.active:hover {
    background-color: rgb(198, 232, 255);
}