body {
    margin: 0;
}

.hidden {
    display: none;
}

.parent {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: row;
}

.container-child {
    padding: 20px;
}

#top-nav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

#top-nav li {
    display: inline-block;
    padding: 15px;
}

#top-nav li:hover {
    background-color: rgb(179, 179, 179);
}

.left {
    float: left;
}

.right {
    float: right;
}

#nav {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 0;
    margin: 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: rgb(226, 226, 226);
}

.active {
    background-color: rgb(198, 232, 255);
}
.active:hover {
    background-color: rgb(198, 232, 255);
}

.container-child .overview {
    display: none;
}


.budget-item {
    list-style: none;
    border: 1px solid grey;
    margin: 10px 0 10px 0;
}

.budget-item div {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.budget-bar {
    width: 200px;
    height: 20px;
    background-color: rgb(223, 223, 223);
}

.budget-name {
    width: 90px;
}

.budget-percentage {
    width: 0%;
    height: 100%;
    text-align: center;
    background-color: green;
}

.budget-percentage .current-value{
    color: black;
}

